<% include ../partials/header%>
<h1>Área de usuario</h1>
<h2>Hola <%= currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1); %></h2>
<img src="http://www.nytransitmuseum.org/wp-content/uploads/2017/04/Coney-1200x798.jpg"></img>
<% include ../partials/footer %>