<% include ../partials/header%>
    <div class="grid-x">
        <div class="cell medium-4 medium-offset-4">
            <h1>Registrarse</h1>
            <form action="/register" method="POST">
                <label>Nombre de usuario</label>
                <input name="username" type="text" placeholder="nombre de usuario"></input>
                <label>Contraseña</label>
                <input name="password" type="password" placeholder="contraseña"></input>
                <button class="success button" type="submit">Registrar</button>
            </form>
            <a href="/campgrounds">Volver atrás</a>
        </div>
        
    </div>

<% include ../partials/footer %>