<div class="grid-x grid padding-x">
    <% if(error && error.length > 0){ %>
    <div class="cell medium-10 medium-offset-1">
        <div class="callout alert">
          <p><%= error %></p>
         </div>
    </div>
    <% } %>
    <% if(success && success.length >0){ %>
    <div class="cell medium-10 medium-offset-1">
        <div class="callout success">
          <p><%= success %></p>
         </div>
    </div>
    <% } %>
</div>