<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><a href="/">Yelp Camp</a></li>
      
    </ul>
      
      
    
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <!--<li><a href="/user-area"><i class="fi-torso f-icons medium"></i></a></li>-->
      <% if(!currentUser){ %>
      <li><a href="/user-area" title="Área de Usuario"><i class="octicon octicon-person"></i></a></li>
      <% } else { %>
       <!--<li><a href="/user-area"><i class="octicon octicon-sign-in"></i></a></li>-->
       <li><a href="#">Hola <%= currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1); %>!</a></li>
      <li><a href="/logout"><i class="octicon octicon-sign-out"></i></a></li>
      <% } %>
      
     
      <!--<li><a href="/login">Login</a></li>-->
      <!--<li><a href="/register">Registrarse</a></li>-->
      <!--<li><a href="/logout">Logout</a></li>-->
      <!--<li><a href="/user-area">Área Usuario</a></li>-->
          
    </ul>
  </div>
</div>