<% include ../partials/header%>
    <div class="grid-x">
        <div class="cell medium-6 medium-offset-3">
            <h2>Editar comentario</h2>
            <form action="/campgrounds/<%= camp_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <label>Comentario</label>
                <input name="comment[text]" type="text" value="<%= comment.text%>"></input>
                
                <button class="success button expanded" type="submit">Guardar cambios</button>
            </form>
            <a href="/campgrounds/<%= camp_id %>">Volver</a>
        </div>
        
    </div>

<% include ../partials/footer %>