<% include ../partials/header%>
    <div class="grid-x">
        <div class="cell medium-6 medium-offset-3">
            <h2>Add a new comment to <%= camp.name %></h2>
            <form action="/campgrounds/<%= camp._id %>/comments" method="POST">
                <input name="comment[text]" type="text" placeholder="Your comment"></input>
                <!--<input name="comment[author]" type="text" placeholder="Your name"></input>-->
                <button class="success button expanded" type="submit">Save</button>
            </form>
            <a href="/campgrounds/<%= camp._id %>">Volver</a>
        </div>
        
    </div>

<% include ../partials/footer %>