<% include ../partials/header%>

    
       <div class="container fluid">
           <div class="grid-x">
               <!--==========================
               //SIDEBAR
               //==========================-->
               <aside class="cell small-12 medium-3">
                  <h3>Yelp Camp</h3>
                  <ul class="vertical menu" data-accordion-menu>
                      <li class="is-active"><a href="#0">Item 3</a></li>
                      <li><a href="#0">Item 3</a></li>
                      <li><a href="#0">Item 3</a></li>
                    </ul>
                </aside>
                <!--==========================
                //MAIN
                //==========================--->
                <!--FICHA-->
              <section class="cell small-12 medium-8 medium-offset-1">
                <div class="grid-x">
                    <div class="cell">
                        <h1><%= camp.name %></h1>
                        <img src="<%= camp.image %>"></img>
                        <h3>Creado por: <%= camp.author.username %></h3>
                        <p><%= camp.name %></p>
                        <p><%= camp.place %></p>
                        <p><%= camp.rating %></p>
                        <p><%= camp.description %></p>
                    </div>
                </div>
                <!--EDITAR/BORRAR CAMPAMENTO-->
                <%  if(currentUser && camp.author.id.equals(currentUser._id)){ %>
                 <div class="grid-x  grid-margin-x">
                        <div class="cell medium-1">
                            
                                <a class="button warning"  href="/campgrounds/<%= camp._id %>/edit">Editar</a>
                            </div>
                             <div class="reveal" id="exampleModal1" data-reveal>
                                  <h4>¿Estás seguro?</h4>
                                  <p>Esta acción no puede deshacer</p>
                                  <form action="/campgrounds/<%= camp._id%>?_method=DELETE" method="POST">
                                    <button class="alert button" type="submit">Eliminar</button>
                                </form>
                                
                                  <button class="close-button" data-close aria-label="Close modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              
                             <div class="cell medium-1">
                               <p><button class="button alert" data-open="exampleModal1" style="margin-left: 5px;">Eliminar</button></p>
                                 
                            </div>
               
                           
                             
                            
                            <div class="cell auto"></div>
                        </div>
                         <% }; %>
                <!--COMENTARIOS-->
                <div class="grid-x">
                    <div class="cell callout secondary">
                        <div class="grid-x">
                            <div class="cell medium-10"></div>
                            <div class="cell medium-2">
                                <a class="button info tiny"  href="/campgrounds/<%= camp._id %>/comments/new">Añadir comentario</a>
                            </div>
                        </div>
                        <!--EDITAR/BORRAR COMENTARIOS-->
                        <% camp.comments.forEach(function (comments){%>
                            <div class="grid-x">
                                <div class="cell medium-10">
                                    <p><strong><%= comments.author.username %> </strong></p>
                                </div>
                                <div class="cell medium-2">
                                    <p>10 days ago</p>
                                </div>
                            </div>
                            <div class="grid-x">
                                <div class="cell">
                                    <p><%= comments.text %></p>
                                    
                                </div>
                                <% if(currentUser && comments.author.id.equals(currentUser._id)) {%>
                                <div class="cell">
                                      <a href="<%= camp._id %>/comments/<%= comments._id %>/edit"><button class="button warning">Editar comentario</button></a>
                         
                                    <button class="button alert" data-open="exampleModal2" style="margin-left: 5px;">Eliminar Comentario</button>
                          
                                </div>
                                <% } %>
                            </div>
                           
                        <div class="reveal" id="exampleModal2" data-reveal>
                                  <h4>¿Estás seguro?</h4>
                                  <p>Esta acción no puede deshacer</p>
                                  <form action="/campgrounds/<%= camp._id %>/comments/<%= comments._id %>?_method=DELETE" method="POST">
                                    <button class="alert button" type="submit">Eliminar</button>
                                </form>
                                
                                  <button class="close-button" data-close aria-label="Close modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                        <% }); %>
                       
                        
                </div>
            </div>
            <div class="grid-x">
                <div class="cell">
                    
                </div>
                <div class="cell">
                      <a href="/campgrounds">Volver</a>
                </div>
            </div>
            </section>
           </div>
       </div>
        
    

<% include ../partials/footer %>