<% include ../partials/header%>

    <div class="grid-x">
        <div class="cell medium-4 medium-offset-4">
            <h1>Editar campamento <%= camp.name%> </h1>
            <form action="/campgrounds/<%= camp._id%>?_method=PUT" method="POST">
                <label>Nombre</label>
                <input name="editedCamp[name]" type="text" value="<%= camp.name%>"></input>
                <label>Imagen</label>
                <input name="editedCamp[image]" type="url" value="<%= camp.image%>"></input>
                <label>Ubicación</label>
                <input name="editedCamp[place]" type="text" value="<%= camp.place%>"></input>
                <label>Descripción</label>
                <input name="editedCamp[description]" type="text" value="<%= camp.description%>"></input>
                <label>Calificación</label>
                <input name="editedCamp[rating]" type="number" value="<%= camp.rating%>"></input>
                <button class="success button" type="submit">Guardar cambios</button>
            </form>
            <a href="/campgrounds/<%= camp._id%>/">Volver atrás</a>
        </div>
        
    </div>

<% include ../partials/footer %>