<% include ../partials/header%>

    <div class="hero-section">
  <div class="hero-section-text">
   <h1>Campings</h1>
    <a href="/campgrounds/new"><button class="info button">Añadir nuevo camping</button></a>
  </div>
</div>




    <ul class="main">
         <div class="grid-x grid-padding-x small-up-2 medium-up-4">
           
    <% camps.forEach(function(campings){%>
      
            <div class="cell">
                <div class="card">
                   <img src="<%= campings.image %>"></img>
                   <div class="card-section text-center">
                       <p><%= campings.name %></p>
                       <p><%= campings.place %></p>
                       <a href="/campgrounds/<%= campings._id %>"><button class="info button">Ver más...</button></a>
                   </div>
                </div>
            </div>
      
            
    <% }); %>
        
                </div>

</ul>
</div>


  

<% include ../partials/footer %>