<% include ../partials/head%>
 <div id="landing-header">
 	 <h1>¡Bienvenido a YelpCamp!</h1>
    <a href="/campgrounds/"><button class="info button">Ver los campings</button></a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>


<% include ../partials/footer %>