<% include ../partials/header%>

    <div class="grid-x">
        <div class="cell medium-4 medium-offset-4">
            <h1>Añadir nuevo campamento</h1>
            <form action="/campgrounds" method="POST">
                <input name="name" type="text" placeholder="nombre del campamento"></input>
                <input name="image" type="url" placeholder="Url de la imagen"></input>
                <input name="place" type="text" placeholder="localización"></input>
                <input name="description" type="text" placeholder="descripción"></input>
                <input name="rating" type="number" placeholder="calificación" min="0" max="5" step="1"></input>
                <button class="success button" type="submit">Crear</button>
            </form>
            <a href="/campgrounds">Volver atrás</a>
        </div>
        
    </div>

<% include ../partials/footer %>