.hero-section {
  background: url("../images/camping.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.main{
  margin-left: -8px;
  margin-top: 3em;
}
@media screen and (max-width: 39.9375em) {
  .main{
 margin-top: 1em;
}
}

/*==========================
BACKGROUND LANDING
===============================*/

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
#landing-header h1 {
  color: #fff;
}

.slideshow {
  background-image: url(/assets/images/emvhOnb.jpg); 
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(/assets/images/TVGe0Ef.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(2) { 
  background-image: url(/assets/images/K3mPv14.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/assets/images/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/assets/images/SBEmFpv.jpg);
  animation-delay: 40s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}